doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
		title Login - Brand
		link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
		link(rel='stylesheet', href='assets/fonts/fontawesome-all.min.css')
	body.bg-gradient-primary(style='filter: blur(0px);')
		.container
			.row.justify-content-center
				.col-md-9.col-lg-12.col-xl-10
					.card.shadow-lg.o-hidden.border-0.my-5(style='padding: 27px;')
						.card-body.p-0
							.row
								.col-lg-6.d-none.d-lg-flex
									.flex-grow-1.bg-login-image(style='background: url(assets/img/avatars/5995_umbc_retrievers-alternate-2010.png) center / contain no-repeat;filter: hue-rotate(0deg);')
								.col-lg-6
									.p-5
										.text-center
											h4.text-dark.mb-4 Cypi management interface
										form.user
											.form-group
												input.form-control.form-control-user(type='text', placeholder='Username', name='username')
											.form-group
												input.form-control.form-control-user#exampleInputPassword(type='password', placeholder='Password', name='password')
											.form-group
												.custom-control.custom-checkbox.small
													.form-check
														input.form-check-input.custom-control-input#formCheck-1(type='checkbox')
														label.form-check-label.custom-control-label(for='formCheck-1') Remember Me
											button.btn.btn-primary.btn-block.text-white.btn-user(type='submit') Login
											hr
		script(src='assets/js/jquery.min.js')
		script(src='assets/bootstrap/js/bootstrap.min.js')
		script(src='assets/js/chart.min.js')
		script(src='assets/js/bs-init.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
		script(src='assets/js/testing_scripts.js')
		script(src='assets/js/theme.js')
		script(src='assets/js/webcam_scripts.js')
		script(src='assets/js/webcam_worker.js')
		script(src='assets/js/websocket_worker.js')